/*  style for header */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');

:root {
    --border-rounded:50%;
    --danger_color:#FF4E78;
    --border_color:#CEE2FB;
    --text_color:rgba(0, 0, 0, 0.5);
}


body {
    font-family: "Poppins",sans-serif;
    cursor: pointer;
}
header {
    height: 80px;
    border-bottom: 1px solid var(--border_color);
    position: fixed;
    width: 100%;
    background:#fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__logo {
    font-weight: bold;
    font-size:25px;
    background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.header__auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.auth__noti {
    width:50px;
    height: 50px;
    border-radius: var(--border-rounded);
    background:#fff;
    filter: drop-shadow(0px 2px 4px #CCE1FC);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}


.auth__noti ion-icon {
    font-size:20px;
}

.auth__avatar {
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-rounded);
    background:#fff;
    filter: drop-shadow(0px 2px 4px #CCE1FC);
}

.auth__name {
    background: linear-gradient(90deg, #4FACFE 0%, #00F2FE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: bold;
}

.auth__noti:hover {
    background:var(--danger_color);
    color:#fff;
}



/* main  */
/* main sidebar */


main {
    height: 100%;
}
main .container 
{
    display: flex;
   
}


.main__sidebar {
    /* max-width: 30%; */
    width:15%;
    padding-top:100px;
    height: 100%;
    position: fixed;
    
   
}
.main__content {
    width: 100%;
    padding-left:15%;
    padding-top:30px;

}

.sidebar__item {
    display: flex;
    height: 90px;
    margin-bottom: 10px;
    align-items: center;
   
}

.sidebar__item:hover p,.sidebar__item:hover ion-icon{
    color:var(--danger_color);
}
.sidebar__item:last-child {
    border:none;
}
.sidebar__item ion-icon {
    margin-right:30px;
    font-size:20px;
    
    
}
.sidebar__item p {
    font-weight: bold;
    color:var(--text_color);
}


/* content */

.content__title {
    color:var(--text_color);
}


.search__form {
    margin-top:50px;
}
.search__form input {
    height: 40px;
    width: 350px;
    padding:0px 20px;
    border:1px solid var(--border_color);
}
.search__form input[type ="submit"]
{
    width:150px;
    height: 40px;
    border-radius: 5px;
    background:var(--danger_color);
    color:#fff;
    margin-left:10px;
   
}



/* list employee */

.list__employee {
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    margin-bottom:30px;
}

.list__employee .item {
    width:200px;
    height: 250px;
    border:1px solid var(--border_color);
}

.employee__avatar {
    width:50px;
    height: 50px;
    border:1px solid var(--border_color);
    border-radius: 50%;
    margin:0px auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.employee__name {
    text-align: center;
    font-weight: bold;
    margin-top:20px;
}

.employee__link {
    font-size:14px;
    text-align: center;
    margin-top:10px;
  
}

.actions {
    width:80%;
    margin: 0px auto;
    margin-top:40px;
    display: flex;
    justify-content: center;
    gap:10px;

}

.actions button {
    width:100px;
    height: 30px;
    border:1px solid var(--border_color);
    border-radius: 5px;
    color:#fff;
    background:transparent;
    color:var(--text_color);

}

.actions button:hover {
    border:1px solid var(--danger_color);
    background:var(--danger_color);
    color:#fff;
}







.accordion {
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #eee);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
  height: 100%;

}
.tiltehead{
  margin-left: -30px;
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #A9A9A9);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 101%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
  height: 100%;
  font-weight: bold;
  padding-left: 30px;

}


.active, .accordion:hover {
  background-image: linear-gradient(to left, rgba(88,37,123,0), 
  #ccc);
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 15px;
}
.panel {
  padding: 0 18px;
  max-height: 0;
  background-color: white;
  overflow: hidden;
  width:600px;
    transition: max-height 0.3s ease-out;

}
.active:after {
  content: "\2212";
}
