/* TABLE OF CONTENT
======================================
# 1. Improting Styles
# 2. Global Styles
# 3. Sticky Header styles
# 4. Section Title Styles
# 5. Header Styles
# 6. Slider Styles
# 7. Curv Gray Styles
# 8. Curv White Styles
# 9. Groom and Bride Styles
# 10.  Love Story Styles
# 11.  Important People Styles
# 12.  Qoute Styles
# 13.  Event Parties Styles
# 14.  Rsvp Styles
# 15.  Blog Styles
# 16.  Gallery Styles
# 17.  Our Location Styles
# 18.  Gmap Styles
# 19.  Footer Styles
# 20.  Blog Featured Styles
# 21.  Blog Page Blog Section Styles
# 22.  Blog Details Styles
# 23.  Single blog_content Styles
# 24.  Responsive Styles

======================================
*/



/*==========================
 # 1. Improting Styles
 =========================*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url('css/font-awesome.min.css');
@import url('css/animate.css');
@import url('css/prettyPhoto.css');


/*==========================
 # 2. Global Styles
 =========================*/


html,
body{
	font-family: 'Open Sans';
	color: #939393;
	font-size: 13px;
	line-height: 24px;
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}

a:focus, button:focus, input:focus, textarea:focus {
	outline: none;
	box-shadow: none;
}
.mannho{
	display: none;
}
a, a:active, a:focus, a:active, a:hover {
	text-decoration:none;
}

.imgdate1{
	margin: 10px 0;
}
img {
	max-width:100%;
	height:auto;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal; 
	margin:0 0 15px;
}

.form-control:focus {
	box-shadow: none;
}

ul {
	margin:0;
	padding:0;
}

li {
	list-style:none
}

img {
	max-width: 100%;
}

.highlight {
	font-weight: 600;
	color: #262626;
}

.container .row2{
	background-color: black;
	text-align: center;
	width: 100%;

}

button,
.single_blog_post .readmore {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
button:before,
.single_blog_post .readmore:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

button:hover:before, .single_blog_post .readmore:hover:before, button:focus:before, .single_blog_post .readmore:focus:before, button:active:before, .single_blog_post .readmore:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.preloader { 
	position:fixed;
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:rgba(255,255,255,1); 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(images/preloader.gif);
}



/*==========================
 # 3. Sticky Header styles
 =========================*/

.header_stick {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	padding-top: 15px;
	box-shadow: 0 1px 7px rgba(0,0,0,.1);
}
#header.header_stick {
	padding-top: 15px;
}
.header_stick #logo {
	padding-bottom: 15px;
}
.header_stick #logo img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0s;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-o-animation-duration: 2s;
	-o-animation-delay: 0s;
	-o-animation-iteration-count: infinite;
	-ms-animation-duration: 2s;
	-ms-animation-delay: 0s;
	-ms-animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	width: 130px;
}
.header_stick #main_navigation {
	min-height: 55px;
}
.header_stick #main_navigation > ul > li > a {
	line-height: 55px;
}


/*==========================
 # 4. Section Title Styles
 =========================*/

.section_title_wrap {
	text-align: center;
	padding: 120px 0 50px 0;
}
.section_title {
	font-size: 36px;
	line-height: 30px;
	color: #4F4F4F;
	font-family: 'Lobster';
	text-align: center;
	display: inline-block;
	background: url(images/section-title-bg.png) repeat-x center center;
	padding-left: 55px;
	padding-right: 55px;

}
.section_title span {
	background: #F9F7F1;
	padding: 0 15px;
}
.section_title span b {
	font-weight: normal;
	color: #FF6D6D;
}
.section-text {
	font-size: 14px;
	line-height: 26px;
	color: #939393;
	text-align: center;
}


/*==========================
 # 5. Header Styles
 =========================*/

#header {
	background: #FFFFFF;
	padding: 30px 0 0;
}

#logo {
	text-align: center;
	border-bottom: 1px solid #ECEBEA;
	padding-bottom: 30px;
}
#logo img {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#main_navigation {
	min-height: 75px;
}

#main_navigation ul {
	text-align: center;
}

#main_navigation ul li {
	display: inline;
	position: relative;
}

#main_navigation  ul  li a {
	display: inline-block;
	font-size: 14px;
	line-height: 75px;
	font-weight: 600;
	color: #737373;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#main_navigation ul > li > a:before {
	background: none repeat scroll 0 0 rgb(255, 109, 109);
	bottom: 0;
	content: "";
	display: inline-block;
	height: 3px;
	left: 0;
	position: absolute;
	transition: width 0.3s ease 0s;
	width: 0%;
	z-index: -1;
}
#main_navigation ul > li > a:hover:before,
#main_navigation ul > li.active > a:before {
	width: 100%;
}

#main_navigation ul > li > a:hover,
#main_navigation ul > li.active > a {
	color: #ff6d6d;
}
#main_navigation ul li a b.caret {
	margin-top: -5px;
}

.header_stick #main_navigation ul li:hover ul {
	top: 30px;
}
#main_navigation ul li:hover ul {
	top: 40px;
	left: 0;
}
#main_navigation ul li ul {
	z-index: 999999;
	text-align: left;
	position: absolute;
	left: -9999px;
	width: 200px;
	top: 90px;
	background: rgba(255,109,109,1);
	border: 1px solid #fff;
	padding: 10px;
	border-radius: 5px;
	transition: top .1s ease-out .0s;
}
#main_navigation ul li ul:before {
  content: "\f0d8";
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  color: #FC7070;
  position: absolute;
  top: -15px;
  left: 15px;
}
#main_navigation ul li ul li {
	display: block;
}
#main_navigation ul li ul li a {
	color: #fff;
	line-height: 35px;
	text-align: left;
	display: block;
	border-radius: 5px;
	position: relative;
	z-index: 1;
	margin-bottom: 5px;
	transition: all .3s ease-out .1s;
}
#main_navigation ul li ul li:last-child a {
	margin-bottom: 0;
}
#main_navigation ul li ul li a:before {
	content: '';
	display: inline-block;
	width: 0;
	height: 100%;
	background: #fff;
	border-radius: 5px;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s ease-out .1s;
}
#main_navigation ul li ul li a:hover:before {
	width: 100%;
}
#header button.nav-collapser {
	display: none;
	background: #FC7070;
	color: #fff;
	text-align: center;
	border: none;
	outline: none;
	width: 45px;
	height: 35px;
	border-radius: 5px;
	position: fixed;
	top: 60px;
	right: 90px;
	z-index: 99999;
}
#header button.nav-collapser .fa {
	color: #fff;
	font-size: 18px;
	line-height: 35px;
}


/*==========================
 # 6. Slider Styles
 =========================*/

#slider {
	background-image: url(images/background/slider-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
#slider .overlay {
	padding: 170px 0;
	background: rgba(0,0,0,.7);
}
#slider h1 {
	font-size: 40px;
	line-height: 42px;
	font-family: 'Lobster';
	color: #fff;
	text-align: center;
}
#slider .time_counter {
	width: 320px;
	margin: 30px auto 0;
}
#slider .time_counter li {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #FF6D6D;
	color: #fff;
	text-align: center;
	font-family: 'Lobster';
	font-size: 14px;
	line-height: 15px;
	float: left;
	margin-right: 20px;
	text-transform: capitalize;
	padding: 15px 0;
}
#slider .time_counter li:last-child {
	margin-right: 0;
}
#slider ul > h2 {
  text-align: center;
  font-family: 'Lobster';
  color: rgb(255,109,109);
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: 25px;
}

/*==========================
 # 7. Curv Gray Styles
 =========================*/

.curv-gray {
	background: url(images/curv.png) repeat-x;
	height: 20px;
	margin-top: -10px;
}
.curv-gray h2 {
	display: none;
}

/*==========================
 # 8. Curv White Styles
 =========================*/

.curv-white {
	background: url(images/curv-white.png) repeat-x;
	height: 20px;
	margin-top: -10px;
}
.curv-white h2 {
	display: none;
}

/*==========================
 # 9. Groom and Bride Styles
 =========================*/

#groom_bride .section_title span {
	background: #F9F7F1;
}
#groom_bride .curv-gray {
	background: url(images/curv.png) repeat-x;
	height: 20px;
	margin-top: 0px;
	position: relative;
	top: -10px;
}
#groom_bride {
	background: #F9F7F1;
	padding-bottom: 165px;
}
#groom_bride .row {
	background: url(images/heart.png) no-repeat center center;
}
.single_groom {
	padding-right: 70px;
}
.single_bride {
	padding-left: 70px;
}
.single_groom img,
.single_bride img {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 5px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
	transition: all .3s ease-in .2s;
}
.single_groom iframe,
.single_bride iframe {
	
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.single_groom:hover img,
.single_bride:hover img {
	border-color: #FF6D6D;
}
#groom_bride .info-box {
	background: #fff;
	padding: 90px 50px 40px;
	text-align: center;
	margin-top: -75px;
}
#groom_bride .info-box h2 {
	color: #4f4f4f;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 0;
}
#groom_bride .info-box span {
	font-size: 12px;
	line-height: 24px;
	font-weight: bold;
	color: #a9a9a9;
}
#groom_bride .info-box p {
	color: #bdbcbc;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
}
#groom_bride .info-box ul {
	margin-bottom: 10px;
}
#groom_bride .info-box ul li {
	display: inline;
}
#groom_bride .info-box ul li a .fa {
	display: inline-block;
	width: 35px;
	height: 32px;
	color: #7B7B7B;
	margin-right: 0px;
	font-size: 18px;
	line-height: 20px;
	padding: 5px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: all .3s ease;
}
#groom_bride .info-box ul li a i:hover {
	color: rgba(255,109,109, 1);
	border-color: rgba(255,109,109, 1);
}
#groom_bride .info-box button {
	background: #FF6D6D;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	line-height: 24px;
	padding: 10px 45px;
}

#groom_bride .info-box button:before {
  background: #fff;
  border: 1px solid #FF6D6D;
}
#groom_bride .info-box button:hover, #groom_bride .info-box button:focus, #groom_bride .info-box button:active {
  color: #FF6D6D;
}

#groom_bride .info-box {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
#groom_bride .info-box:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #FF6D6D;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#groom_bride .info-box:hover:before, #groom_bride .info-box:focus:before, #groom_bride .info-box:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 1px;
}


/*==========================
 # 10.  Love Story Styles
 =========================*/

#love_story {
	background: #fff;
	padding-bottom: 165px;
}
#love_story ul li {
	padding-bottom: 50px;
	background-image: url(images/our-love-story-divider.png), url(images/love-story-divider.png);
	background-position: center top, center top;
	background-repeat: no-repeat, repeat-y;
}
#love_story ul li > div:first-child {
	text-align: right;
	padding-right: 45px;
}
#love_story ul li > div:last-child {
	text-align: left;
	padding-left: 45px;
}
#love_story h2 {
	font-size: 18px;
	line-height: 24px;
	color: #262626;
	margin-bottom: 10px;
	font-weight: 600;
}
#love_story p {
	font-size: 14px;
	line-height: 26px;
	color: #939393;
	margin-bottom: 10px;
}
#love_story a {
	font-size: 13px;
	line-height: 32px;
	color: #ff6d6d;
	text-transform: uppercase;
	font-weight: bold;
}

#love_story .details a.read_more {
	border: 1px solid rgb(255, 109, 109);
	border-radius: 5px;
	color: #ff6d6d;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
	margin-bottom: 10px;
	padding: 5px 15px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}
#love_story .details a.read_more:hover {
	color: #fff;
}
#love_story .details a.read_more:before {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	background: rgb(255,109,109);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.3s ease 0.1s;
}
#love_story .details a.read_more:hover:before {
	width: 100%;
}

#love_story .date {
	font-size: 18px;
	line-height: 42px;
	color: #262626;
	font-style: italic;
}
#love_story .details .details_content {
	background-color: #fff;
	padding: 20px 30px;
	width: 365px;
	margin-top: -15px;
}
#love_story ul li > div:first-child .details_content {
	float: right;

}
#love_story ul li > div:first-child .details_content {
	background: url(images/background/love-story-story-bg-left.png) no-repeat 0 0;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
#love_story ul li > div:last-child .details_content {
	float: left;
}
#love_story ul li > div:last-child .details_content {
	background: url(images/background/love-story-story-bg-right.png) no-repeat 0 0;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
#love_story button.load_more {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 130px;
	height: 40px;
	border: 1px solid #FF7878;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	color: #262626;
	background: #fff;
}
#love_story button.load_more:before {
  background: #FF6D6D;
}
#love_story button.load_more:hover, #love_story button.load_more:focus, #love_story button.load_more:active {
  color: #fff;
}

/*=================================
 # 11.  Important People Styles
 =================================*/

#important_people .section_title span {
	background: #F9F7F1;
}
#important_people {
	background: #F9F7F1;
	padding-bottom: 165px;
}
#important_people .row div img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
	transition: all .3s ease-out .1s;
}
#important_people .row div ul li:hover img {
	border: 10px solid #FF6D6D;

}
#important_people .row ul li {
	margin-bottom: 40px;
}
#important_people .row ul li:last-child {
	margin-bottom: 0;
}
#important_people .row div .info-box {
	width: 220px;
}
#important_people .row div .info-box h2 {
	font-size: 18px;
	line-height: 26px;
	color: #262626;
	font-weight: 600;
	margin-bottom: 5px;
}
#important_people .row div .info-box span {
	font-weight: 700;
	color: #FF6D6D;
	font-size: 13px;
	line-height: 26px;
	text-transform: uppercase;
}
#important_people .row div .info-box p {
	color: #AAAAA8;
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 0;
	margin-top: 5px;
}
#important_people .row > div:first-child {
	text-align: right;
	padding-right: 25px;
}
#important_people .row > div:first-child img {
	float: right;
}
#important_people .row > div:first-child .info-box {
	float: right;
	margin-right: 20px;
}
#important_people .row > div:last-child {
	text-align: left;
	padding-left: 25px;
}
#important_people .row > div:last-child img {
	float: left;
}
#important_people .row > div:last-child .info-box {
	float: left;
	margin-left: 20px;
}

/*==========================
 # 12.  Qoute Styles
 =========================*/

#qoute {
	background: url(images/background/qoute-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}
#qoute .overlay {
	padding: 145px 0 120px;
	background: rgba(255,109,109,.85);
}
#qoute h2 {
 	font-size: 24px;
	line-height: 36px;
	color: #fff;
	font-weight: 400px;
	font-style: italic;
}
#qoute button {
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 14px;
	line-height: 36px;
	border: 1px solid #fff;
	color: #fff;
	border-right: 0;
	border-left: 0;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 45px;
}

/*==========================
 # 13.  Event Parties Styles
 =========================*/

#event_parties {
	padding-bottom: 165px;
}
#event_parties .single_event {
	padding: 10px;
	padding-bottom: 25px;
	border: 1px solid #EAEAEA;
	text-align: center;
	margin-right: 30px;
	transition: border .3s ease-in .1s;
}
#event_parties .single_event:hover {
	border-color: #FF6D6D;
}
#event_parties .single_event:first-child {
	margin-left: 10.5%;
}
#event_parties .single_event h2 {
	color: #262626;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 10px;
}
#event_parties .single_event p {
	font-size: 13px;
	line-height: 22px;
	color: #939393;
}
#event_parties .single_event .read_more {
	border: 1px solid rgb(255, 109, 109);
	border-radius: 5px;
	color: #ff6d6d;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
	margin-top: 5px;
	padding: 5px 15px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
}
#event_parties .single_event .read_more:hover {
	color: #fff;
}
#event_parties .single_event .read_more:before {
	content: '';
	width: 0;
	height: 100%;
	display: inline-block;
	background: rgb(255,109,109);
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 0.3s ease 0.1s;
}
#event_parties .single_event .read_more:hover:before {
	width: 100%;
}

#event_parties .single_event .image-wrap {
	position: relative;
	overflow: hidden;
}
#event_parties .single_event .image-wrap img {
	transition: all 0.8s ease 0s;
}
#event_parties .single_event:hover .image-wrap img {	
  -moz-transform: scale(1.5) rotate(10deg);
  -webkit-transform: scale(1.5) rotate(10deg);
  -ms-transform: scale(1.5) rotate(10deg);
  -o-transform: scale(1.5) rotate(10deg);
  transform: scale(1.5) rotate(10deg);
}

#event_parties .single_event .image-wrap .overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0px;
	background: rgba(255,109,109,.75);
	transition-property: left, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: initial;

}
#event_parties .single_event:hover .image-wrap .overlay {
	opacity: 1;
}

/*==========================
 # 14.  Rsvp Styles
 =========================*/

#rsvp {
	background: url(images/background/rsvp-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
}
#rsvp .overlay {
	padding: 70px 0;
	background: rgba(255,109,109,.9);
}
#rsvp h1 {
	font-size: 36px;
	line-height: 30px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;

	margin-bottom: 50px;
}
#rsvp .rsvp_wrap {
	width: 410px;
	margin: 0 auto;
	padding: 30px 40px 40px;
	background: #fff;
	border-radius: 5px;
}
#rsvp .rsvp_wrap h2 {	
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	color: #4b4b4b;
	text-transform: uppercase;
}
#rsvp .rsvp_wrap input,
#rsvp .rsvp_wrap select {
	width: 310px;
	margin: 0 auto 15px;
	padding: 0 20px;
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	display: block;
	height: 50px;
	line-height: 30px;
	color: #939393;
	outline: none;

}
#rsvp .rsvp_wrap button[type="submit"] {
	background: #FF6D6D;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	width: 310px;
	margin: 0 auto 15px;
	padding: 0 20px;
	border: none;
	border-radius: 5px;
	display: block;
	height: 50px;
	line-height: 30px;
	outline: none;

}
#rsvp .rsvp_wrap button[type="submit"]:before {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #FF6D6D;
}
#rsvp .rsvp_wrap button[type="submit"]:hover, #rsvp .rsvp_wrap button[type="submit"]:focus, #rsvp .rsvp_wrap button[type="submit"]:active {
  color: #FF6D6D;
}

#rsvp .contact-form .error {
	background: #FF6D6D;
	color: #fff;
}
#rsvp .contact-form .error::-webkit-input-placeholder {
   color: #fff;
}

#rsvp .contact-form .error:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

#rsvp .contact-form .error::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#rsvp .contact-form .error:-ms-input-placeholder {  
   color: #fff;  
}



/*==========================
 # 15.  Blog Styles
 =========================*/

#blog {
	background: #F9F7F1;
	padding-bottom: 165px;
}
#blog .section_title span {
	background: #F9F7F1;
}
#blog .container > .row {
	padding-left: 80px;
}
#blog .container > .row > .col-lg-4 {
	width: 33%;
}
#blog .single_blog_post {
	box-sizing: border-box;
	text-align: center;
	background: #fff;
	padding: 10px 10px 30px;
	margin-bottom: 15px;
	width: 330px;
	margin-left: auto;
	margin-right: auto;
	transition: all .3s ease .1s;
}
#blog .single_blog_post:hover {
	border: 1px solid rgb(255,109,109);
}
#blog .single_blog_post img {
	width: 100%;
}
#blog .single_blog_post h2 {
	color: #262626;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 10px;
}
#blog .single_blog_post p {
	font-size: 13px;
	line-height: 22px;
	color: #939393;
}
#blog .single_blog_post label {
	display: block;
	color: #262626;
	font-size: 13px;
	line-height: 22px;
	font-weight: 600;
	font-style: italic;
}
#blog .single_blog_post label a {
	color: #FF6D6D;
}
#blog .single_blog_post a.readmore {
	display: inline-block;
	background: #FF6D6D;
	color: #fff;
	padding: 5px 20px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	margin-top: 15px;
}

#blog .single_blog_post a.readmore:before {
  border-radius: 5px;
  background: #fff;
  border: 1px solid #FF6D6D;
}
#blog .single_blog_post a.readmore:hover, #blog .single_blog_post a.readmore:focus, #blog .single_blog_post a.readmore:active {
  color: #FF6D6D;
}
#blog .single_blog_post .image-wrap {
	position: relative;
	overflow: hidden;
}
#blog .single_blog_post .image-wrap img {
	transition: all 0.8s ease 0s;
}
#blog .single_blog_post:hover .image-wrap img {	
  -moz-transform: scale(1.5) rotate(10deg);
  -webkit-transform: scale(1.5) rotate(10deg);
  -ms-transform: scale(1.5) rotate(10deg);
  -o-transform: scale(1.5) rotate(10deg);
  transform: scale(1.5) rotate(10deg);
}

#blog .single_blog_post .image-wrap .overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0px;
	background: rgba(255,109,109,.75);
	transition-property: left, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: initial;

}
#blog .single_blog_post:hover .image-wrap .overlay {
	opacity: 1;
}

/*==========================
 # 16.  Gallery Styles
 =========================*/

 .sanpham{
	float:left;
	width:100%;
margin-top: -10px;}
.colorSilver{
	background-color: Silver;
}

.rivew .rivew_tb{
	line-height:33px;
	font-weight:bold;
	color:#C30;
	margin-left:40px;
	}
.rivew .rivew_tb a{
	text-decoration:none;}


.sanpham{
	float:left;
	width:100%;
margin-top: -10px;}

.box_sp{
	margin:10px 5px 0 5px;
	float:left;
	width:290px;
	height:213px;
	background-color:#FFF;
	text-align:center;
	border-radius: 10px;
	}
.box_sp .clearfix img{
	width: 100%;
	height: 100%;
}


.main{
	width:100%;
	margin:0px auto
	}


.content_sp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
}



#gallery{
text-align: center;
padding: auto;
width: 100%;
}

#gallery .container-fluid {
	padding: 0;
}
#gallery .main .sanpham .box_sp ul li {
	position: relative;
	text-align: center;
	width: auto;
	margin: 0;
	padding: 0;
	float: left;
	border: none;
	overflow: hidden;
	margin:3px;

}
#gallery .main .sanpham .box_sp ul li img {
	border: none;
	transition: all .5s ease-out .1s;
	border-radius: 10px;
	width: 100%;
	height: 100%;

}
#gallery .main .sanpham .box_sp ul li .overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0px;
	background: rgba(255,109,109,.9) url(images/our-love-story-divider.png) center center no-repeat;
	transition-property: left, opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	transition-delay: initial;

}

#gallery .main .sanpham .box_sp ul li:hover img {
	transform: scale(1.3);
	border-radius: 10px;
}
#gallery .main .sanpham .box_sp ul li:hover .overlay {
	opacity: 1;
}

/*==========================
 # 17.  Our Location Styles
 =========================*/

#our_location{
	background-color: #F9F7F1;

}
.mapnhatrai{
}
#our_location .single_location {
	background-color: red;
	text-align: center;
	width: 400px;
	margin-right: 50px;
	padding-bottom: 25px;

}
#our_location .single_location:last-child {
	margin-right: 0;
}
#our_location .single_location h2 {
	color: #262626;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 10px;	
}

/*==========================
 # 18.  Gmap Styles
 =========================*/



/*==========================
 # 19.  Footer Styles
 =========================*/

footer {
	background: #303030;
	text-align: center;
}
.footer_top {
	padding-top: 65px;
	padding-bottom: 35px;
}
.footer_bottom {
	border-top: 1px solid #424242;
	height: 75px;
}
.footer_bottom p {
	font-size: 13px;
	color: #a4a4a4;
	line-height: 73px;
	margin-bottom: 0;
}
.footer_bottom a {
	color: #FF6D6D;
}

/*==========================
 # 20.  Blog Featured Styles
 =========================*/

.blog #header-featured {
	background: url(images/background/slider-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.blog #header-featured .overlay {
	background: rgba(255, 109, 109, .85);
}
.blog #header-featured .section_title {
	background: none;
}
.blog #header-featured .section_title span {
	background: transparent;
	color: #fff;
}
.blog #header-featured .section_title b {
	color: #3B3B3B;
}
.blog #header-featured .section_title:before {
	content: ' ';
	width: 55px;
	height: 3px;
	background: url(images/header-featured-title.png) no-repeat 0 0;
	display: inline-block;
	position: relative;
	bottom: 10px;
	right: 0px;
}
.blog #header-featured .section_title:after {
	content: ' ';
	width: 55px;
	height: 3px;
	background: url(images/header-featured-title.png) no-repeat 0 0;
	display: inline-block;
	position: relative;
	bottom: 10px;
	left: 0px;
}
.blog #header-featured .section-text {
	color: #fff;
}

/*========================================
 # 21.  Blog Page Blog Section Styles
 =========================================*/

.blog #blog {
	padding-top: 65px;
}

.blog #blog a.older_post {
	text-align: center;
	display: block;
	margin: 0 auto;
	width: 130px;
	height: 40px;
	border: 1px solid #FF7878;
	border-radius: 3px;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	color: #262626;
	background: transparent;
	text-transform: uppercase;
	margin-top: 65px;
	border-radius: 15px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	transition: all .3s ease;
}
.blog #blog a.older_post:hover {
	color: #fff;
}
.blog #blog a.older_post:before {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 100%;
	background: #FF6E6E;
	transition: all .3s ease;
}
.blog #blog a.older_post:hover:before {
	width: 100%;
}


/*==========================
 # 22.  Blog Details Styles
 =========================*/

.single #author {
	background: #FF6D6D;
	text-align: center;
}
.single #author img {
	margin: 0 auto;
	margin-top: 50px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 7px solid #fff;
}
.single #author iframe {
	margin: 0 auto;
	margin-top: 50px;
	width: 120px;
	height: 120px;
	border: 7px solid #fff;
}

.single #author h2 {
	font-size: 24px;
	line-height: 30px;
	font-style: italic;
	font-weight: normal;
	color: #fff;
	margin-top: 25px;
	margin-bottom: 5px;
}
.single #author label {
	margin-bottom: 50px;
	font-weight: bold;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	text-transform: uppercase;
}
.single #author label:before {
	content: " ";
	width: 15px;
	border-top: 3px solid #fff;
	display: inline-block;
	position: relative;
	bottom: 3px;
	right: 5px;
}
.single #author label:after {
	content: " ";
	width: 15px;
	border-top: 3px solid #fff;
	display: inline-block;
	position: relative;
	bottom: 3px;
	left: 5px;
}

/*====================================
 # 23.  Single blog_content Styles
 ===================================*/

.single #blog_content {
	background: #F9F7F1;
	padding-top: 60px;
	padding-bottom: 165px;
}
.single #blog_content .content_top {
	margin-bottom: 25px;
	padding: 25px;
	background: #fff;
	text-align: center;
}
.single #blog_content .content_top img {
	width: 100%;
}
.single #blog_content .content_top .content_title {
	font-size: 30px;
	line-height: 35px;
	color: #383838;
	font-weight: 600;
	margin-top: 65px;
	margin-bottom: 40px;
	text-align: center;
}
.single #blog_content .content_top p {
	color: #939393;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 35px;
}
.single #blog_content .content_top p.highlight {
	font-size: 18px;
	color: #262626;
	font-style: italic;
}
.single #blog_content .content_top label.post_meta {
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #262626;
}
.single #blog_content .content_top label.post_meta a {
	color: #FF6D6D;
}
.single #blog_content .comment_section {
	padding: 25px 125px;
	background: #fff;
	margin-bottom: 25px;
}
.single #blog_content .comment_section .comment_title {
	font-size: 30px;
	line-height: 35px;
	color: #383838;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: center;
}
.single #blog_content .comment_section .single_comment {
	position: relative;
	margin-bottom: 50px;
}
.single #blog_content .comment_section .single_comment:last-child {
	margin-bottom: 0;
}
.single #blog_content .comment_section .single_comment .image {
	float: left;
	margin-right: 25px;
}
.single #blog_content .comment_section .single_comment .image img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
}
.single #blog_content .comment_section .single_comment .comment_details {
	float: left;
	width: 795px;
}
.single #blog_content .comment_section .single_comment .comment_details h2 {
	color: #262626;
	font-size: 18px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 0;
}
.single #blog_content .comment_section .single_comment .comment_details span.comment_time {
	color: #FF6D6D;
	font-size: 13px;
	line-height: 30px;
	margin-bottom: 15px;
}
.single #blog_content .comment_section .single_comment .reply_button {
	background: #F0F0F0;
	font-size: 13px;
	color: #ACACAC;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
}
.single #blog_content .comment_form {
	padding: 25px 125px;
	background: #fff;
}
.single #blog_content .comment_form .comment_form_title {
	font-size: 30px;
	line-height: 35px;
	color: #383838;
	font-weight: 600;
	margin-bottom: 50px;
	text-align: center;
}
.single #blog_content .comment_form .form_top input[type=text],
.single #blog_content .comment_form .form_top input[type=email] {
	height: 45px;
	padding: 0 25px;
	line-height: 45px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	margin-right: 15px;
	float: left;
	width: 32%;
	display: block;
}
.single #blog_content .comment_form .form_top input[type=text]:focus,
.single #blog_content .comment_form .form_top input[type=email]:focus,
.single #blog_content .comment_form .form_wrapper textarea:focus {
	box-shadow: 0 0 5px 3px rgba(255,109,109, .3); 
}
.single #blog_content .comment_form .form_wrapper textarea {
	padding: 15px 25px;
	border: 1px solid #EAEAEA;
	border-radius: 5px;
	margin-top: 15px;
	width: 99.5%;
	height: 200px;
	margin-bottom: 15px;
	transition: all .3s ease;
}
.single #blog_content .comment_form .form_wrapper button[type=submit] {
	background: #FF6D6D;
	color: #fff;
	height: 45px;
	line-height: 45px;
	padding: 0 25px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 5px;
	border: 1px solid #FF6D6D;
	font-size: 13px;
	position: relative;
	z-index: 1;
	transition: all .3s ease;
}
.single #blog_content .comment_form .form_wrapper button[type=submit]:hover {
	color: #FF6D6D;
}
.single #blog_content .comment_form .form_wrapper button[type=submit]:before {
	content: '';
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -1;
	border-radius: 5px;
	transition: all .3s ease;
}
.single #blog_content .comment_form .form_wrapper button[type=submit]:hover:before {
	width: 100%;
}
.single #blog_content .comment_form .form_top input:last-child {
	margin-right: 0;
}




/*==========================
 # 24.  Responsive Styles
 =========================*/

@media only screen and (min-width: 992px) and (max-width: 1024px) {
	#blog .container > .row {
		padding-left: 30px;
	}
	#blog .single_blog_post {
		width: 280px;
	}
	.single_event {
		width: 280px;
	}
	#event_parties .single_event:first-child {
		margin-left: 3%;
	}
	#our_location .single_location {
		width: 290px;
	}
	.single #blog_content .comment_section .single_comment .comment_details {
		width: 600px;
	}
	.single #blog_content .comment_form .form_top input[type="text"], .single #blog_content .comment_form .form_top input[type="email"] {
    	width: 31%;
    }
    .single #blog_content .comment_form .form_wrapper textarea {
    	width: 97.5%;
    }
}



/*
*******************************
*   Tablet Layout: 768px.     *
*******************************
**
*/



@media only screen and (min-width: 768px) and (max-width: 991px) {
    #love_story ul li > div:first-child {
    	padding-right: 30px;
    }
    #love_story ul li > div:last-child {
    	padding-left: 30px;
    }
    #love_story .details .details_content {
    	width: 330px;
    }
    #important_people .row div .info-box {
    	width: auto;
    	text-align: center;
    }
    #important_people .row div img {
    	float: none !important;
    	display: block;
    	margin: 0 auto;
    	margin-bottom: 15px;
    }
    #event_parties .single_event:first-child {
    	margin-left: 0;
    }
    #event_parties .single_event:last-child {
    	margin-right: 0;
    }
    #event_parties .single_event {
    	margin-right: 15px;
    	width: 240px;
    }
    #blog .row > .single_blog_post:first-child {
    	margin-left: 0;
    }
    #blog .single_blog_post {
    	width: 235px;
    }
    #blog .container > .row {
    	padding-left: 15px;
    }
    #our_location .single_location {
    	margin-right: 0;
    }
    #our_location .single_location:last-child {
    	margin: 0 auto;
    	float: none;
    }
    .single #blog_content .comment_section .single_comment .comment_details {
    	width: 510px;
    }
    .single #blog_content .comment_section,
    .single #blog_content .comment_form {
    	padding: 25px 50px;
    }
    .single #blog_content .comment_form .form_top input[type="text"], .single #blog_content .comment_form .form_top input[type="email"] {
    	width: 31%;
    }
    .single #blog_content .comment_form .form_wrapper textarea {
    	width: 97.5%;
    }
}

/*
*******************************
*   Mobile Layout: 320px.     *
*******************************
**
*/

@media only screen and (max-width: 767px) {

	.section_title {
		font-size: 25px;
		line-height: 43px;
	}
	.section_title span {
		display: inline-block;
		overflow: hidden;
	}
	.single_groom {
		padding-right: 15px;
		margin-bottom: 90px;
	}
	.single_bride {
		padding-left: 15px;
	}
	#love_story ul li {
		padding-top: 65px;
		padding-bottom: 50px;
		background-image: none;
		background-position: center top;
		background-repeat: no-repeat;
	}
	#love_story ul li > div:first-child,
	#love_story ul li > div:last-child {
		text-align: center;
	}
	#love_story ul li > div:first-child .details_content {
		background: #fff;
		border: 1px solid #ecebea;
	}
	#love_story ul li > div:last-child .details_content {
		background: #fff;
		border: 1px solid #ecebea;
	}
	#love_story ul li > div.details:first-child {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#love_story ul li > div.details:last-child {
		margin-top: 30px;
		position: relative;
	}
	#love_story ul li > div.details:last-child:before {
		background: url("images/arrow-love-res.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		content: " ";
		display: inline-block;
		height: 29px;
		left: 45%;
		position: absolute;
		top: -20px;
		transform: rotate(-270deg);
		width: 18px;
	}
	#love_story ul li > div.details:first-child:after {
		background: url("images/arrow-love-res.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		content: " ";
		display: inline-block;
		height: 29px;
		left: 50%;
		position: absolute;
		bottom: -20px;
		transform: rotate(270deg);
		width: 18px;
	}
	#important_people ul li {
		text-align: center;
	}
	#important_people .row > div .info-box {
		float: none;
		width: 98%;
		margin-right: auto !important;
		margin-left: auto !important;
		display: block;
	}
	#important_people .row > div:first-child img, 
	#important_people .row > div:last-child img {
		float: none;
		margin: 20px auto;
		display: block;
	}
	#event_parties .single_event {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		float: none;
		width: 90%;
	}
	#event_parties .single_event img {
		width: 100%;
	}
	#event_parties .single_event:first-child {
		margin-left: 20px;
	}
	#blog .row > .single_blog_post {
		margin: 20px auto;
	}
	#blog .row > .single_blog_post:first-child {
		margin-left: auto;
	}
	#blog .row > .single_blog_post:last-child {
		margin-right: auto;
	}
	#blog .container > .row {
		padding-left: 0px;
	}
	#blog .container > .row > .col-lg-4 {
		width: 100%;
	}
	#blog .single_blog_post {
		width: 90%;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	#gallery ul li {
		width: 50%;
	}
	#gallery ul li img {
		height: 150px;
	}
	#our_location .single_location {
		margin: 20px auto;
	}
	#our_location .single_location:last-child {
		margin-right:  auto;
	}
	#love_story ul li > div:first-child .details_content {
    	float: none;
    }
	#love_story ul li > div:last-child .details_content {
    	float: none;
    }
    #love_story .details .details_content {
    	width: 280px;
    	margin: 0 auto;
    }
    #love_story ul li > div:last-child {
    	padding-left: 0;
    }
    .mannho{
	display: block;
	text-align: center;
	}
	.manlon{
		display: none;
	}
	.date {
		display: none;}
    #rsvp .rsvp_wrap {
    	width: 290px;
    }
    #rsvp .rsvp_wrap input, #rsvp .rsvp_wrap select , #rsvp .rsvp_wrap button[type="submit"] {
    	width: 215px;
    }
	#slider .time_counter {
		width: 320px;
		margin: 0 auto;
	}
	#slider .time_counter li {
		margin-bottom: 25px;
	}
	#slider .time_counter li {
		margin-right: 0;
		margin-right: 15px;
	}

	.footer_bottom p {
		line-height: 35px;
	}
	.single #blog_content .comment_section,
	.single #blog_content .comment_form {
		padding: 25px 20px;
	}
	.single #blog_content .comment_section .single_comment .comment_details {
		width: auto;
	}
	.single #blog_content .comment_section .single_comment .image {
		float: none;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.single #blog_content .comment_section .single_comment .comment_details h2 {
		text-align: center;
	}
	.single #blog_content .comment_section .single_comment .comment_details span.comment_time {
		display: block;
		text-align: center;
	}
	.single #blog_content .comment_form .form_top input[type="text"], .single #blog_content .comment_form .form_top input[type="email"] {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
	#header.header_stick {
		padding: 0;
	}
	.header_stick {
		width: 100%;
	}
	.header_stick #logo {
		display: none;
	}
	#header button.nav-collapser {
		display: inline-block;
		top: 10px;
		right: 10px;
		z-index: 99999;
	}
	#header #main_navigation {
	  min-height: 0;
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 99999999;
	}
	#main_navigation ul {
		display: none;
		position: fixed;
		z-index: 9999;
		top: 60px;
		right: 10px;
		width: 290px;
		background: #FC7070;
		border-radius: 5px;
		padding: 30px;
	}
	#main_navigation ul:before {
	  content: "\f0d8";
	  font-family: 'FontAwesome';
	  display: inline-block;
	  font-size: 35px;
	  line-height: 25px;
	  color: #FC7070;
	  position: absolute;
	  top: -20px;
	  right: 15px;
	}
	#main_navigation ul li {
		display: block;
	}
	#main_navigation ul li a {
		color: #fff;
		display: block;
		text-transform: uppercase;
		border: 1px solid #fff;
		width: 230px;
		margin: 0 auto;
		text-align: center;
		font-size: 14px;
		line-height: 35px !important;
		border-top: 0;
	}
	#main_navigation ul li:first-child a {
		border-top: 1px solid #fff;
	}
	#main_navigation ul li a:hover,
	#main_navigation ul li.active a {
		background: #fff;
		color: #FC7070;

	}
	#main_navigation ul li ul {
		position: static;
		width: auto;
		border: 0;
		border-bottom: 1px solid #fff;
		padding-left: 20px;
	}
	#main_navigation ul li ul li a {
		border-radius: 0;
		width: 210px;
		margin-bottom: 0;
	}
	#main_navigation ul li ul li a:before {
		border-radius: 0
	}
	#main_navigation ul li ul:before {
		display: none;
	}


}

/*
***************************************
*      Wide Mobile Layout: 480px.     *
***************************************
**
*/


@media only screen and (min-width: 480px) and (max-width: 767px) {
	.section_title {
		font-size: 34px;
		line-height: 43px;
	}
    #love_story .details .details_content {
       	width: 365px;
    	margin: 0 auto;
    }
    #rsvp .rsvp_wrap {
    	width: 410px;
    }
    #rsvp .rsvp_wrap input, #rsvp .rsvp_wrap select {
    	width: 310px;
    }
    	.box_sp .clearfix img{
	width: 100%;
	height: 100%;
	}
}
