
body{
	overflow: hidden;
}
.content{
	width: 1170px;
	margin: auto;
	margin-top: 30px;
}


.loader{
	width: 100%;
	height: 100%;
	background-color: rgba(136, 142, 125, 1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000000000;
	display: none;
	overflow: hidden;
}
.icon{
	font-size: 80px;
	color: #fff;
	position: absolute; 
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	
}
.xoay{
	animation: xoay 1.5s linear infinite;
	-moz-animation: xoay 1.5s linear infinite;
	-ms-animation: xoay 1.5s linear infinite;
	-o-animation: xoay 1.5s linear infinite;
	-webkit-animation: xoay 1.5s linear infinite;

}
@-webkit-keyframes xoay{
	from{
		-ms-transform:rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to{
		-ms-transform:rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.snip1582 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
 width: 85%;
  font-size: 14px;
  line-height: 1em;
  margin: 25px 15px 15px 15px;
  outline: none;
  padding: 8px 40px 8px 22px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.snip1582:before,
.snip1582:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1582:before {
  border-color: #c47135;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.snip1582:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  bottom: -5px;
  right: 0px;
}

.snip1582:hover,
.snip1582.hover {
  background-color: #c47135;
}

.snip1582:hover:before,
.snip1582.hover:before,
.snip1582:hover:after,
.snip1582.hover:after {
  height: 100%;
  width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

   

html {
    font-size: 62.5%;
    line-height: 1.625rem;
    height: 100%;
    scroll-behavior: smooth;

}
#content {
  margin-left:15%;
  width:500px;
  text-align:left;
}
#hint {
  color:#666;
  margin-left:15%;
  width:300px;
  text-align:left;
  margin-top:3em;
}

:root {
    --white-color: #fff;
    --bg-main: white;
    --bg-dark: #303234;
    --primary-color: #31344b;
    --text-color: #777777;
    --text-color-dark: #B0B3B8;
    --blue-color: #1877f2;
    --blue-color-2: #e9f5ff;
    --outer-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    --outer-shadow-o: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
       inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
       ;
    --outer-shadow-dark: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
    --outer-shadow-dark-o: 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.1), inset 6px 6px 10px -1px rgba(0, 0, 0, 0.3),
       inset -6px -6px 10px -1px rgba(255, 255, 255, 0.1);
    --icon-fb: #4267B2;
    --icon-insta: #FB3958;
    --icon-github: #333;
    --icon-youtube: #FF0000;
    --icon-tiktok: #000;
}

#myInput{
display:none
}
#myInput2{
display:none
}

.app {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background:#d7d7d7 ;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.app.dark {
    background: #717171;
}



.card {
    position: fixed;
    max-width: 350px;
    height: fit-content;
    display: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 12px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--white-color);
    border-radius: 7px;
    background: var(--bg-main);
    box-shadow: var(--outer-shadow);
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.app.dark .card::after {
    transform: scale(1.01);
    border-radius: 7px;
}
.app.dark .card {
    background: #393d42;
    box-shadow: var(--outer-shadow-dark);
}




.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}

.card__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: center;
}
.col {
    width: 100%;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}
.col-lg-3 {
    display: flex;
    justify-content: center;
    flex: 0 0 25%;
    max-width: 25%;
}





.toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    width: 35px;
    height: 35px;
    top: 20px;
    border-radius: 50%;
    color: var(--primary-color);
    box-shadow: var(--outer-shadow);
    border: 2px solid var(--bg-main);
    cursor: pointer;
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.toggle__theme {
    right: 20px;
}

.app.dark .toggle {
    color: var(--bg-main);
    border: 2px solid var(--bg-dark);
}
.toggle__theme:hover, .toggle__back:hover {
    box-shadow: var(--outer-shadow-o);
}

.app.dark .toggle__theme, .app.dark .toggle__back {
    box-shadow: var(--outer-shadow-dark);
}

.app.dark .toggle__theme:hover,
.app.dark .toggle__back:hover {
    box-shadow: var(--outer-shadow-dark-o);
}

.toggle__theme .fas,
.toggle__back .fas {
    font-size: 2rem;
}
.toggle__back {
    left: 20px;
}





a 
{ 
    text-decoration: none;
    color: inherit; 
} 



p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.5px;
    color: #484848;
}


/*==================*/

.row2{
    margin-top: 35px;
}
.title-pa{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
     transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.form-control{
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
}

.form-detail {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.form-detail .control-custom {
  font-size: 14px;
  color: #868686;
  background: var(--bg-main);
  width: 97%;
}







.control-custom {
  font-size: 14px;
  color: #868686;
  width: 97%;
  transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;

}

.app.dark .group .control-custom{
    background: #393d42;
    color: white;
}

.form-detail .group { 
  position: relative;
  margin-left:10px;
}






.form-detail input {
  display: block;
  padding: 14px 0 0 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 26px;

}

.form-detail textarea {
  display: block;
  border: none;
  border-bottom: 1px solid #d8d8d8;
}

.form-detail label {
  font-size: 14px;
  color: #868686;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 16px;
}

input:focus, 
textarea:focus {
  outline: none;
}


.form-detail .bar { 
  position: relative; 
  display: block; 
  width: 97%; 
}

.bar::before,
.bar::after {
  content:'';
  height: 2px; 
  width: 0;
  position: absolute;
  background: #2cb680; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;

}

.bar::before {
  left:50%;
}

.bar::after {
  right:50%; 
}

.form-detail input:focus ~ .bar::before,
.form-detail input:focus ~ .bar::after,
.form-detail textarea:focus ~ .bar::before,
.form-detail textarea:focus ~ .bar::after {
  width:50%;
}



.form-detail input:focus ~ .bar::before,
.form-detail input:focus ~ .bar::after,
.form-detail textarea:focus ~ .bar::before,
.form-detail textarea:focus ~ .bar::after {
  width:50%;
}
.form-button {
  margin-top: 20px; 
}
.form-detail label {
  font-size: 14px;
  color: #868686;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 16px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.app.dark .form-detail label {
  color: #EEEEEE;
}

.form-detail input:focus ~ label, 
.form-detail input:valid ~ label,
.form-detail textarea:focus ~ label,
.form-detail textarea:valid ~ label {
  top: -5px;
  color: #2cb680;
  font-weight: bold;

  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.app.dark .form-detail input:focus ~ label, 
.app.dark .form-detail input:valid ~ label,
.app.dark .form-detail textarea:focus ~ label, 
.app.dark .form-detail textarea:valid ~ label {

  color: #2cb680;

}

.app.dark .title-pa{
    color: white;
}


@import url(https://fonts.googleapis.com/css?family=BenchNine:700);







.popup2 {
display: none;
position: fixed;
padding-top: 50px;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.5);
}
.popup-content2 {
position: relative;
background-color: #FAFAFA;
padding: 15px;
margin: auto;
width: 70%;
}
.close-btn2 {
float: right;
color: #2E2E2E;
font-size: 25px;
font-weight: 700;
}
.close-btn2:hover {
color: #D2D2D2;
}

.linka:hover{
  color: blue;
}

